<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param> <!-- ServletContext로부터 얻음 -->
  	<param-name>jdbcUrl</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
<!-- 	<param-value>jdbc:oracle:thin:@mydb501_high?TNS_ADMIN=C:/Users/eunzi/Documents/Wallet_mydb501</param-value> -->
  </context-param>
  
  <context-param>
  	<param-name>jdbcUser</param-name>
<!--   	<param-value>mydb06</param-value> -->
	<param-value>c##mydbms</param-value>
  </context-param>
  
  <context-param>
  	<param-name>jdbcPassword</param-name>
<!--   	<param-value>adminAdmin12</param-value> -->
	<param-value>admin</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
  	<init-param> <!-- ServletConfig로부터 얻음 -->
  		<param-name>configFile</param-name> <!-- 설정 파일 -->
  		<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup> <!-- 서블릿 객체 생성, init() 실행 -->
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>LoginCheckedFilter</filter-name>
    <filter-class>filter.LoginCheckedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckedFilter</filter-name>
    <url-pattern>/changePwd.do</url-pattern>
    <url-pattern>/removeMember.do</url-pattern>
    <url-pattern>/article/write.do</url-pattern>
  </filter-mapping>
  
</web-app>